h1 {
	border: 2px solid; 
	text-align: center;
	}
	
p {
		font-size: 20px;
	}
li	{
	font-size: 20px;
}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

	
body {
	background-image:url('https://steamuserimages-a.akamaihd.net/ugc/920302029523785424/E2D9E45E65D7C2E0EC0C050C3BEFDAA2133DD8D2/');
	background-repeat: repeat-x;
	background-color: #111727;
	padding: 20px;
	color: #e3e5e6;
}
		
/* visited link*/
	a:visited {
		color: #2683ad
	}
	a:link {
		color: #42f4e2;
	}	
	
	<!-- old color #8fb1e8; -->
<!--- old color white, edited 9/4/19-->